
body{
	font-family: 'Montserrat', sans-serif;
	font-family: 'PT Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
	
	background-color: #4f4f4f;
	padding-left: 10%;
	padding-right: 10%;
}

h1{
	font-family:  'Poppins';
	font-size: 40px;
	font-weight: 500;
	text-transform: uppercase;


}

h2{
	font-family: 'Poppins';
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
}

hr{
	height: 2px;
	width: 300px;
	position: relative;
	background: #fff;
	margin: 0 auto;
	margin-bottom: 10px;
	border: 0;
}


div{
	-webkit-box-shadow: -7px 6px 19px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: -7px 6px 19px -4px rgba(0,0,0,0.75);
	box-shadow: -7px 6px 19px -4px rgba(0,0,0,0.75);
	
}
/* Banner Logo Inicio*/
#banner{

	color: #fff;
	background: rgba(75,250,200,1);
	background: rgba(73,155,234,1);
	background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(1,55,112,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(1,55,112,1)));
	background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(1,55,112,1) 100%);
	background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(1,55,112,1) 100%);
	background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(1,55,112,1) 100%);
	background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(1,55,112,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#013770', GradientType=0 );
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 4%;
	padding-bottom: 4%;
	-webkit-box-shadow: -7px 6px 19px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: -7px 6px 19px -4px rgba(0,0,0,0.75);
	box-shadow: -7px 6px 19px -4px rgba(0,0,0,0.75);
	
}



/* Menu resumen*/
#banner2{
	font-family: 'Roboto Condensed';
	font-size: 20px;
	color: #fff;
	background-color: #013770;
	padding-top: 1%;
	padding-bottom:1%;
	padding-left: 5%;
	padding-right: 5%;
	border-bottom: 2px solid #000;
 	-webkit-box-shadow: -7px 6px 19px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: -7px 6px 19px -4px rgba(0,0,0,0.75);
	box-shadow: -7px 6px 19px -4px rgba(0,0,0,0.75);
	


}
/* Foto de Perfil*/
#perfil{
	background-color: #fff;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;


}
#foto-perfil {
	border:	5px solid #013770;
	width: 200px;
	height: 250px;
}

/* Titulos*/
.datos{
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #013770;
	color: #fff;
}
/* Datos*/
.datos-personales{
	font-family: 'Roboto Condensed';
	font-size: 18px;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #fff;
}

.formacion{
	font-family: 'Roboto Condensed';
	font-size: 18px;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #fff;
}

.cita{

	font-family: 'Montserrat';
	font-size: 20px;
	color: #fff;
	border-top: 2px solid #013770;
	background-color: #013770;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 4%;
	padding-bottom: 4%;

}
#footer{

	font-size: 20px;
	font-weight: 600;
	background-color: #fff;
	padding-top: 2%;
	padding-bottom: 2%; 
}